body {
	font-size: 11pt;
	font-family: "Times New Roman", serif;
	text-align:justify;
}

a {
	color: black;
}

table {
	text-align: justify;
	border: 0;
	width: 100%;
}

h1, h2, h3, h4, h5{
	font-family: Arial, sans-serif;
}

.header h1, h1 {
	font-family: Arial, sans-serif;
	font-size: 15pt;
	font-weight: bold;
	text-align:center;
}

h2 {
	font-size: 13pt;
	text-align: left;
	background-color: lightgray;
}

h2 {
	margin-top:0.5em;
}

h1, h2, .item {
    padding: 0.5em;
    clear:both;
}

.header {
	margin-bottom:1em;
}

.item {
	margin-bottom:0.5em;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

ul {
 list-style-type: square;
 list-style-position: inside;
}

.education li.Level{
	width:45%;
	float:left;
}

.organisationname {
	float:left;
	font-family: Arial, sans-serif;
	font-weight: bold;
	width:38%;
	text-align:left;
}

.organisationname a {
	color: black;
	text-decoration: none;
}

.dates {
	float:left;
	width:28%;
}

.title {
	float:left;
	width:30%;
}

.items, .summary {
	clear:both;
}

.address {
	text-align:center;
}

.tel {
	float:left;
	text-align:left;
	width:33%;
}

.mobile {
	float:left;
	text-align:left;
	width:33%;
}

.email {
	float:left;
	text-align:center;
	width:34%;
}

.twitter {
	float:left;
	text-align:right;
	width:33%;
}

.referee {
	width:50%;
	float:left;
}

@media print{
	a {
		color: black;
		text-decoration: none;
	}
}
