body {	
	font-size: 11pt; 
	font-family: "Times New Roman", serif; 
	text-align:justify; 
}

table {
	text-align: justify;
	border: 0;
	width: 100%;
}

h1, h2, h3, h4,h5{
	font-family: Arial, sans-serif; 
}

h1 {
	font-size: 15pt; 
	text-align:center; 
	junk-margin:0px;
}

h2 {
	font-size: 13pt;
	text-align: left;
	background-color: lightgray;
	junk-padding: 5px;
}

h1, h2, .item {
    padding: 5px;
    clear:both;
}

/*h2, p, .section, .summary{
    junk-padding: 5px;
    clear:both;
}*/
/*
.infobar{
	clear:both;
	text-align:left;
}
*/
ul {
 list-style-type: square;
 list-style-position: inside;
}

.organisationname {
	float:left; 
	font-family: Arial, sans-serif; 
	font-weight: bold; 
	width:38%; 
	junk-padding-right:2%; 
	junk-padding-top:5px; 
	text-align:left;
}

.dates {
	float:left;
	width:28%; 
	junk-padding-right:2%;  
	junk-padding-top:5px;
	
}

.title {
	float:left; 
	width:30%;  
	junk-padding-top:5px;
}

.items,.summary {
	clear:both;
}

.address {
	text-align:center;
}

.tel {
	float:left; 
	text-align:left; 
	width:33%;
}

.mobile {
	float:left; 
	text-align:left; 
	width:33%;
}

.email {
	float:left; 
	text-align:center; 
	width:34%; 
	junk-margin-bottom:20px;
}

.twitter {
	float:left; 
	text-align:right; 
	width:33%;
}

.referee{
	width:50%;
	float:left;
}